$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.sign-up-modal {
  margin-top: 300px;
}

.sign-in-modal {
  margin-top: 300px;
}

.get-teams {
  margin-bottom: 60px;
}

.hide-teams {
  margin: 60px;
}

.navbar {
  background-color: #ccc;
}

.Team {
  color: red;
}

.favTeams {
  text-decoration: underline;
  margin-top: 30px;
}

.dropdown {
  display: inline-block;
  position: static;
  margin-right: auto;
}
